[flake8]
max-line-length = 119
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    venv,
    env,
    .mypy_cache,
    .pytest_cache,
    .idea
ignore =
    E203,
    E501,
    W503
max-complexity = 10